*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(150, 66, 25), rgb(126, 39, 2));
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: rgb(230, 136, 95);
    padding: 0.3rem;
    color: rgb(113, 50, 13);

}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    justify-content: flex-end;
    overflow-y: scroll;
}

.message {
    background: linear-gradient(to right, rgb(176, 105, 61), rgb(212, 81, 28));
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
}

.message:nth-child(3){
    align-self: flex-end;
}

.form {
    display: flex;
}

.form input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.form button{
    background-color: rgb(160, 66, 11);
    color: white;
    padding: 0 1rem;
    font-size: 1.2rem;
}