*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(234, 110, 47), rgb(248, 78, 5));
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: rgb(145, 49, 7);
    padding: 0.3rem;
    color: white;

}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    justify-content: flex-end;
}

.message {
    background: linear-gradient(to right, rgb(85, 4, 4), rgb(142, 42, 3));
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
}